%tr
  %td
    /= link_to "#{table.values[0].to_s}", database_table_path(id: table.values[0].to_s})
    /= link_to("Delete", database_table_path(id: "#{table.values[0].to_s}"))
    =link_to("#{table.values[0].to_s}", database_table_path(id: "#{table.values[0].to_s}"))
  %td
    =link_to(image_tag('stock-eye-20.png'), show_records_database_table_path(id: "#{table.values[0].to_s}"))
    =link_to(image_tag('stock-edit-16'))
    =link_to(image_tag('delete.png'), database_table_path(id: "#{table.values[0].to_s}"), method: :delete, data: {confirm: "Are you sure ?"})

    
