%h3 Column: [#{params[:id]}] of table: [#{params[:table_id]}] in database: [#{params[:database_id]}]
%fieldset
  %legend Edit column: #{params[:id]}
  =form_tag(database_table_column_path, method: :put) do
    .field
      =label_tag :field
      =text_field_tag :field, get_key_value(@column)[0]
    .field
      =label_tag :type
      =text_field_tag :type, get_key_value(@column)[1]
    .field
      =label_tag :null
      =text_field_tag :null, get_key_value(@column)[2]
    .field
      =label_tag :key
      =text_field_tag :key, get_key_value(@column)[3]
    .field  
      =label_tag :default
      =text_field_tag :default, get_key_value(@column)[4]
    .field
      =label_tag :extra
      =text_field_tag :extra, get_key_value(@column)[5]
    .submit
      =submit_tag
=link_to(image_tag('delete.png'), database_table_column_path(id: "#{params[:id]}"), method: :delete, data:{confirm: "Are you sure to delete column: " + "#{params[:id]}" + "?"})
=link_to "Back", database_table_columns_path