%h3 Column: [#{params[:id]}] of table: [#{params[:table_id]}] in database: [#{params[:database_id]}]
%table
  %tr
    %th Attr
    %th Value
    %th
  -@column.each do |column|
    -column.each do |key, value|
      %tr
        %td= key
        %td= value
        %td=link_to(image_tag('stock-edit-16.png'), href: "#", remote: true, title: "Edit attr")
  %tr
    %td
    %td
    %td
      =link_to(image_tag('stock-selection-none-16.png'), database_table_column_path(id: "#{params[:id]}"), method: :delete, data:{confirm: "Are you sure to delete column: " + "#{params[:id]}" + "?"}, remote: true, title: "Delete column from table")
