/Main contenet
%section#main_content
  /Article
  %article.main_content
    %header.main_content_header
      %h2 MsMysql adminstration panel.
    %p.notice= notice
    %div#tables_in_database
    %div#table_description
    %div#table_records
    %div#forms_div

/Side bar
%section#side_bar
  %h3.info
    =image_tag('info.png')
    = "Mysql info:"
  - @version.each do |t|
    = "Wersja: " + t.values[0].to_s
  %br
  - @user.each do |user_date|
    = "Uzytkownik: " + user_date.values[0].to_s
  %br
  - @date.each do |data|
    = "Data on serv: " + data.values.to_s
  %br
  -@teraz.each do |t|
    =t.values[0].to_s
  %hr
  %h3#lista_baz
    .up
      =image_tag("buttonDown_On.png", title: "open list")
      Databases list:
    .down
      =image_tag("buttonUp_On.png", title: "close list")
      Databases list:
  .databases_list
    %ul
      =render(partial: 'database', collection: @databases_list)
  %hr
  %h3.action
    =link_to(image_tag('add.png'), new_database_path, remote: true)
    =link_to "Nowa baza danych", new_database_path, remote: true
  