%p= notice
%h3
  Formularz tworzenia nowej bazy
%fieldset
  %legend Formularz.
  = form_tag(databases_path, method: "post") do
    %div.field
      = label_tag(:name, "Name of new database:")
      = text_field_tag(:name)
    %div.submit
      = submit_tag("Create database!")